body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #434455;
  background-color: #FFFFFF;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* display: flex; */
  align-items: baseline;
}
/* :root { */
/* --primary-font: "Roboto", sans-serif; */
/* --title-font: "Roboto", sans-serif; */
/* --primary-black-color: #2e2f42; */
/* --primary-white-color: #ffffff; */
/* --primary-accent-color: #03a9f4; */
/* --secondary-accent-color: #0288d1; */
/* --active-link-color: #f44336; */
/* } */
/* ------HEADER------ */
.header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  /* padding-top: 24px; */
  /* padding-bottom: 32px; */
}

.header-container {
  display: flex;
  align-items: center;
  gap: 90px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  /* margin-right: 90px; */
  /* justify-content: space-between; */
}

.header-logo-italic {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 24px;
  /* margin-left: auto; */
}

.nav-list {
  display: flex;
  gap: 40px;
  /* font-weight: 500; */
  /* font-size: 16px; */
  /* line-height: 1.5; */
  /* letter-spacing: 0.02em; */
  /* color: #2e2f42; */
}

.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover {
  color: #404bbf
}
.link-nav:focus {
  color: #404bbf
}
.current {
position: relative;
color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404BBF;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
  color: #404bbf
}

.address-link:focus {
  color: #404bbf
}

/* ------HERO-IMAGE------ */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/background/head-bg.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.hero-container {
  /* background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 380px 40px 40px;
  height: 600px; */
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: #404BBF
}

.hero-btn:focus {
  background-color: #404BBF
}
.hero-btn {
  cursor: pointer
}

/* ------ADVANTAGES------ */
.advantages {
  padding: 120px 0;
}
/* .advantages-title { */
  /* margin-bottom: 8px; */
/* } */
.advantages-icons {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 112px;
  background-color: #f4f4fd; 
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px; 
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}
.advantages-list-icon {
  fill: transparent;
  /* stroke: green; */
}
.advantages-subtitle {
  width: calc((100% - 72px) / 4);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------OUR-TEAM------ */
.team {
  background-color: #F4F4FD;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  /* display: flex;
  margin: auto; */
  /* align-items: center;
  justify-content: center; */
}
.team-title-list {
  display: flex;
  gap: 24px;
}
.team-list {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.team-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-item-name {
  padding: 32px 0;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
   /* border-radius: 50%; */
  /* background-color: #4d5ae5; */
  /* height: 40px; */
  /* background-position: center; */
  /* align-items: center; */
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-icon {
  fill: #f4f4fd;
  /* background-position: center; */
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #404bbf;
}

.social-link:focus {
  background-color: #404bbf;
}
/* ------OUR-PORTFOLIO------ */
.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
 }
.portfolio-title-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  margin: 0;
}
.portfolio-list {
  background-color: #FFFFFF;
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  /* box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  margin: 0 auto;
}

.portfolio-item-name{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-image-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5; 
  height: 100%; 
  width: 100%; 
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-image-container {
  position: relative;
  overflow: hidden; 
}
.portfolio-list:hover .portfolio-image-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08) 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}


/* ------FOOTER------ */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
    display: flex;
    align-items: baseline;
}
.footer-logo-text {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-italic {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex; 
  gap: 16px;
}
.footer-list-item {
  width: 40px; 
  height: 40px; 
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: #f4f4fd;
}
/* ------backdrop------- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px; 
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}
.modal-close:hover {
  background-color: #404bbf;
  border: none; 
  fill: #ffffff;
}
.modal-close:focus {
  background-color: #404bbf;
  border: none; 
  fill: #ffffff;
}
.icon-modal-close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.icon-modal-close-btn:hover {
  fill: #ffffff;
}
.icon-modal-close-btn:focus {
  fill: #ffffff;
}
.modal-title {
  text-align: center;
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 40px;
margin-bottom: 16px; 
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  /* margin-bottom: 18px; */
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
border-color: #4D5AE5;
fill: #4D5AE5;
}
.modal-input:focus + .modal-icon {
stroke: #fd9222;
}

.modal-input::placeholder {
color: #fd9222;
}
.modal-btn:disabled {
background-color: #1e1823;
}
/* .modal-input:required {
  color: red;
}
.modal-input:valid {
  background-color: rgba(21, 255, 0, 0.435);
} */
 .modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
 }
 .modal-field {
  margin-bottom: 8px; 
 }
 .modal-field-wrap {
  position: relative;
 }
 .modal-field-comment {
  margin-bottom: 16px;
 }
 .modal-icon {
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #111111;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }
 .modal-icon:focus {
  fill: #4D5AE5;
 }
 .modal-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  /* margin-bottom: 18px; */
  padding: 22px 24px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  color: rgba(46, 47, 66, 0.4); 
  background-color: transparent;
  padding: 8px 16px; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modal-text:focus {
  border-color: #4D5AE5;
 }
.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4D5AE5;
  border: none; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.modal-check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
 .modal-check:checked + .modal-check-text span {
background-color: #404bbf;
border: none;
fill: #F4F4FD;
 }
 .modal-policy {
  margin-bottom: 24px; 
 }
 .modal-check-ref {
  color: #4d5ae5; 
 }

 /* -------FOOTER MODAL--------- */
 .footer-modal-subscribe {
  margin-bottom: 16px; 
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: #ffffff; 
 }
 .footer-modal-form {
  display: flex;
  gap: 24px;
 }
 .footer-modal-text {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff; 
  background-color: transparent;
  font-size: 12px; 
  line-height: 2; 
  letter-spacing: 0.04em; 
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; 
  color: #ffffff; 
 }
 .footer-modal-text::placeholder {
  color: #ffffff;
  }
  .footer-modal-btn {
    min-width: 165px;
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
  }
  .icon-footer-modal-btn {
    margin-left: 16px; 
  }